<!DOCTYPE html>
<html>
<head>
    <title>Edit Patient</title>
</head>
<body>

<h1>Edit Patient</h1>

<form method="POST">

    <input type="number" name="Age" value="{{ patient[1] }}" required><br><br>

    <select name="Gender">
        <option {% if patient[2]=='Male' %}selected{% endif %}>Male</option>
        <option {% if patient[2]=='Female' %}selected{% endif %}>Female</option>
    </select><br><br>

    <input type="number" name="Height_cm" value="{{ patient[3] }}" required><br><br>

    <input type="number" name="Weight_kg" value="{{ patient[4] }}" required><br><br>

    <input type="number" name="Systolic_BP" value="{{ patient[5] }}" required><br><br>

    <input type="number" name="Diastolic_BP" value="{{ patient[6] }}" required><br><br>

    <button type="submit">Update Patient</button>

</form>

</body>
</html>